body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.data-header {
    display: flex;
    justify-content: stretch;
    border: 1px solid #1876D2;
    border-radius: 5px;
    margin: 5px;
    color: #1876D2;
}

.data-title {
  display:'inline-block';
  margin-left: 70px;
  position: relative;
  top: 5px;
}
.filter {
  padding-left: 30px;
  padding-bottom: 20px;
  margin-top: 15px;
}
.table {
  border: 1px solid #1876D2;
  border-radius: 5px;
  margin: 5px;
}
.a7a {
  width: 100%;
  justify-content: center;
}

.home {

}
.title-image {
  width: 150px;
  position: relative;
  left: 850px;
  top:30px
}
.power {
  display: inline-block;
  position: relative;
  font-family: monospace;
  padding-left: 30px;
  font-size: 30px;
}
.home-title {
  display: inline-block;
  font-size: 60px;
  padding-left: 40px;
}
.contact {
  display: flex;
  justify-content: left;
}